{% extends "theme/templates/index.html" %}

{% block content %}
<h3 class="post-title">
	Doki Doki
</h3>
<div class="post-body">

	<img id="contact" src="theme/images/sims/Screenshot-28.jpg">

	<div class="center link-boxes">
		<a class="jeonjin" href="elf-family.html">ELF Family</a>
		<a class="jeonjin" href="innocence-elf.html">Wood Elf</a>
		<a class="jeonjin" href="la-fille-de-moustache.html">Porcelain</a>
		<a class="jeonjin" href="four-girls-monstre-orphanage.html">Monstre Girls</a>
		<br>
		<a class="jeonjin" href="#">Mnstr Shoppe</a>
		<a class="jeonjin" href="#">Orphanage</a>
		<a class="jeonjin" href="#">Furry Friends</a>
		<a class="jeonjin" href="#">Crst Orchard</a>
		<br>
		<a class="jeonjin" href="#">Coffee House</a>
		<a class="jeonjin" href="#">Scrt Grove</a>
		<a class="jeonjin" href="#">Rivulet</a>
		<a class="jeonjin" href="#">Bus Station</a>
	</div>
</div>
{% endblock %}
